/* .HeroSection {
    margin-top: 0;
  }
  
  .Carousel-container {
    margin: auto;
    width: 800px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .Carousel-container img {
    overflow: hidden;
  }
  
  .carousel {
    max-width: 1000px;
    margin: auto;
  } */